@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

main {
    width: 100%;
}

.logo {
    display: flex;
    height: 84px;
    justify-content: flex-start;
    padding: 32px;
    width: 100%;
}

.logo img {
    height: 20px;
    width: 100px;
}

main img[alt="hero"] {
    height: 250px;
    width: 100%;
}

main .content {
    padding: 65px 32px 90px;
}

main .content h1 {
    color: hsl(0, 36%, 70%);
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
}

main .content h1 span {
    color: hsl(0, 6%, 24%);
    font-weight: bold;
}

main .content p {
    color: hsl(0, 36%, 70%);
    font-size: 15px;
    line-height: 26px;
    margin-top: 30px;
    text-align: center;
}

main .content .input {
    margin-top: 30px;
}

main .content .input input {
    background: transparent;
    border-radius: 50px;
    border: 1px solid hsla(0, 6%, 24%, 0.2);
    height: 50px;
    outline: none;
    padding: 18px 24px;
    width: 100%;
}

main .content .input input::placeholder {
    color: hsla(0, 6%, 24%, 0.2);
}

main .content .input button {
    align-items: center;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    left: calc(100% - 32px - 32.5px);
    position: relative;
    top: -108px;
    width: 65px;
}

main .content .input img[alt="icon-error"] {
    left: calc(100% - 32px - 12px - 65px);
    position: relative;
    top: -66px;
    visibility: hidden;
}

main .content .input p {
    color: hsl(0, 93%, 68%);
    margin-left: 24px;
    margin-top: 4px;
    text-align: left;
    visibility: hidden;
}

img[alt="hero-desktop"] {
    display: none;
}

main .content .input button:hover {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
    img[alt="hero"] {
        display: none;
    }

    main {
        display: flex;
        height: 100%;
        justify-content: space-between;
    }

    .logo img {
        height: 40px;
        width: 160px;
    }

    .container .content h1 {
        font-size: 60px;
        line-height: 70px;
        margin-top: 135px;
        text-align: left;
    }

    .container .content>p {
        margin-top: 40px;
        text-align: left;
    }

    .container .content .input {
        margin-top: 45px;
    }

    .container .content .input button {
        left: calc(100% - 32px - 50px);
        width: 100px;
    }

    main .content .input img[alt="icon-error"] {
        left: calc(100% - 32px - 12px - 65px - 15px);
    }

    .logo,
    main .content {
        padding: 0;
    }

    .container {
        background: url(./images/bg-pattern-desktop.svg) top right;
        height: 100%;
        padding: 65px 165px 165px;
        width: calc(100% - 610px);
    }

    img[alt="hero-desktop"] {
        display: block;
        height: 100%;
        width: 610px;
    }
}

@media screen and (max-height: 700px) and (min-width: 500px) {
    .logo img {
        height: 30px;
        width: 120px;
    }

    .container .content h1 {
        font-size: 40px;
        line-height: 50px;
        margin-top: 20px;
        width: 50px;
    }

    .container .content>p {
        margin-top: 30px;
    }

    .container .content .input {
        margin-top: 35px;
    }

    .container {
        padding: 45px 100px 100px;
    }
}